<div class="well">
	<div ng-form class="form-inline" name="form1">
		<div class="alert alert-block" ng-show="!form1.$valid">
			<div ng-show="form1.lastname.$error.required">Achternaam verplicht</div>
			<div ng-show="form1.zip.$error.pattern">Postcode incorrect</div>
		</div>

		<input type="text" name="firstname" ng-model="person.firstname" placeholder="voornaam"></input>
		<input type="text" name="lastname" ng-model="person.lastname" placeholder="achternaam" ng-required="true"></input>
		<input type="text" name="zip" ng-model="person.zip" placeholder="postcode" ng-pattern="/^\d\d\d\d$/"></input>

		<button class="btn" ng-click="person.firstname='Apu'; person.lastname='Nahasapeemapetilon'">Model->UI data binding</button>
	</div>

	<code ng-show="person">{{person}}</code>
</div>
